@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
    body {
        font-family: "Work Sans", sans-serif;
        font-size: large;
    }
    p {
        color: var(--color-white);
    }
    h1 {
      font-family: persona-menu
    }
    h2 {
      font-family: persona-menu;
    }
    p {
      font-family: persona-markin;
    }
    button {
      font-family: persona-expose;
      font-size: var(--text-3xl);
    }
    
}
.work-sans-pets-600 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@layer components {
  button {
    @apply bg-red-700 text-white;
  }
}

/*Custom Fonts*/
@font-face {
  font-family: persona-menu;
  src: url(./assets/fonts/Persona5MenuFontPrototype-Regular.ttf);
}
@font-face {
  font-family: persona-expose;
  src: url(./assets/fonts/Expose-Regular.otf);
}
@font-face {
  font-family: persona-markin;
  src: url(./assets/fonts/Markin-LT-Ultra-Bold.ttf);
}
