@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --default-font-family: "Work Sans", sans-serif;
}

@layer base {
    body {
        font-size: large;
    }
    p {
        color: white;
    }
}
.work-sans-pets-600 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@layer components {

}